<h1>FileProcessor#index</h1>
<p>File Data Below:</p>

<%# @fileData.each do |key, val| %>
  <%#=@fileData.inspect %>
  <h2> First File Content: </h2>
  <%=@file_sample%>

 <h2> responses from indexing: </h2>
  <%=@index_name%>
<%#end %>